body {
    margin: 0;
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    color: antiquewhite;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

header {
    background-color: rosybrown;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.intro {
    width: 500px;
    margin: 0 auto;
    color: rosybrown
}

.my-skills {
    background-color: #c08081;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.columns {
    width: 750px; 
    display: flex;
    text-align: center;
}


.column {
    margin: 5px;
}


